@charset "utf-8";

body{
    background:url("/Images/textura.jpg") top right;
	background-attachment:fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenido{
    border-radius: 10px;
    padding: 0 15px;
    background-color:#FFFFFF;
	width:1024px;
	margin:0 auto;
    box-shadow: 0px 0px 8px 0px rgb(46, 16, 51);
}

h1{
    color: white;
    font-size: 50px;
    
	width:550px;
    margin: 25px 50px 55px 225px;
    border-radius:10px;
    background-color: rgb(128, 11, 163);
    box-shadow:4px 4px 10px 0px rgb(43, 2, 49);
    padding: 10px 1px;
}

header{
    text-align: center;
    padding: 15px;

}
header img{
    width: 36%;
    margin: 0;
	float: left;
    border-radius:10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
}
header p{
    width: 60%;
    margin-top: 100px;
    margin: 0;
    padding: 10px;
    padding-top: 100px;
    float: right;
    font-size: 18px;
}
.clear{
	clear:both;
}


nav ul{
    text-align: center;
    height: 65px;
	line-height:65px;
    border-radius:8px;
    padding: 0;
    background-color: rgb(206, 141, 250);

}
nav ul li{
	display:inline;

}
nav ul li a{
    border-radius:8px;
    margin: 0 65px;
    background-color: #840ca1;
    box-shadow:2px 2px 2px rgb(57, 4, 65);
    padding: 8px 12px;
    font-size: 20px;    
    color: white;
    text-decoration:none;
}    
nav ul li a:hover{

    background-color: #580c6b;
    padding: 10px 12px;
    box-shadow:0px 0px 35px 0px rgb(144, 7, 207);
}


section{
    text-align: center;
}
section h2{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.seccionUno{
    padding: 15px;
}
.seccionUno img{
    float: left;
    width: 31%;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
}
.seccionUno h3{
    width: 105%;
    padding-top: 20px;
}
.seccionUno p{
    float: right;
    width: 65%;
    margin: 0;
}


.seccionDos{
    padding: 15px;
}
.seccionDos h3{
    width: 50%;
}
.seccionDos p{
    text-align: center;
    float: left;
    margin: 0;
    width: 50%;
}
.seccionDos img{
    float: right;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
}



.seccionTres{
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
}
.seccionTres img{
    float: left;
    width: 32%;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
}

.seccionTres p{
    float: right;
    text-align: center;
    margin: 0;
    width: 65%;
}


aside{
    margin: 20px 0;
    width: 25%;
    text-align: center;
    float: left;   
}
aside img{
    border-radius: 10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
}
aside a{
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    box-shadow: 0px 2px 12px 1px rgb(32, 17, 34);
    background-color:#840ca1;
}

aside a:hover{
    background-color: #580c6b;
    padding: 10px 12px;
    box-shadow:0px 0px 35px 0px rgb(144, 7, 207);
}


footer{
    color: white;
	text-align: center;
	padding:15px 20px;
    border-radius:8px 8px 0px 0px;
	background-color:#8c11ff;
	font-size:15px;
    margin-top: 15px;
}


